.container {
    max-width: 2000px;
}

.plotContainer {
    background-color: #0e2836;
    width: min-content;
    padding-left: 50px;
    padding-right: 50px;
}


/*
.h1 {
    color: #C0C0C0;
}

.subtitle {
    color: #C0C0C0;
}


*/

h2 {
    color: wheat; /*#C0C0C0;*/
    padding-bottom: 15px;
}
.xTicks{
    color: #C0C0C0;
}

.yTicks{
    color: #C0C0C0;
}